html {
  scroll-snap-type: y proximity;
}

h1, h2, h3, h4, h5, h6 {
  text-shadow: 2px 2px #282c34;
}

.App {
  text-align: center;
  background-color: #282c34;
  text-shadow: .025em .025em #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header * {
  text-shadow: 2px 2px #000000;
}

.App-header {
  display: flex;
  scroll-snap-align: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.shadow {
  box-shadow: 0px 0px 2vmin black;
}

.App-header img {
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  width: 10vw;
}

#occupation {
  display: block;
}

.Content-Container {
  min-height: 100vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-snap-align: center;
}

.Content {
  padding: 0 4vw;
  background-color: gray;
  min-height: 90vh;
}

.Content>div {
  margin: 0 auto;
  width: fit-content;
}

.Content ul {
  text-align: left;
}

.ContentImg {
  height: 30vmin;
}

.Content>p {
  text-align: left;
}

.fadeIn {
  transition: all .5s linear;
  opacity: 100%;
}

.fadeOut {
  transition: all 2s linear;
  opacity: 0%;
}

#rpiLogo {
  border-radius: 15vmin;
}

@media(prefers-reduced-motion) {
  .fadeIn {
    opacity: 100%;
  }

  .fadeOut {
    opacity: 0%;
  }
}